@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Croissant+One&family=Mooli&display=swap');

.body-card {
  background-color: #000000!important;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 100px auto;
  /* position: relative; */
  width: 300px;
  padding: 50px;
  height: fit-content;
}

button{
  font-family: 'Mooli', sans-serif!important;
  padding: 20px;
  background-color: black;
  color: white!important;
  border: none;
  border-radius: 10px;
  margin: 50px;
  cursor: pointer;
  font-weight: bold!important;
}

.input{
  font-family: 'Concert One', cursive;
  padding: 5px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
  margin: 30px;
}

.output{
  font-family: 'Concert One', cursive;
  padding: 10px;
  border: solid 3px green;
  border-radius: 10px;
  padding: 15px;
  margin: 30px;
}

#input{
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
}

#input:focus{
  outline: none;
}

#output{
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
}

#output:focus{
  outline: none;
}

label{
  font-family: 'Mooli', sans-serif;
  font-size: 8sp;
  font-weight: bold;
  color: rgb(7, 212, 86);
}